@model TeamLearningMvcDto.Models.DTOs.CreateAccountDto

<form method="post">

    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.TextBoxFor(x=>x.Name,"",new{@class="form-control",placeholder="Enter your name"})
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.TextBoxFor(x=>x.Email,"",new{@class="form-control",placeholder="Enter your Email"})
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.TextBoxFor(x=>x.Password,"",new{@class="form-control",placeholder="Enter your Password",type="password"})
            </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Create Account" />
    </div>
</form>